---
extends: default

rules:
  # Many YAML files don't have document-start markers
  document-start: disable
  # GitHub Actions comments often don't follow indentation expectations
  comments-indentation: disable
  # Disable truthy check - many YAML files use yes/no/on/off
  truthy: disable

  comments:
    min-spaces-from-content: 1 # Allow 1 space to be compatible with prettier

  # Increase line length to accommodate long URLs, SHAs, and descriptions
  line-length:
    max: 250
    allow-non-breakable-inline-mappings: true

ignore: |
  .github/**
  .allstar/**
  vendor/**
  **/vendor/**
  node_modules/**
  **/.build/**
