$turbo-tokens: (
  'spacing-xs': (0.25rem, 'dimension'),
  'spacing-sm': (0.5rem, 'dimension'),
  'spacing-md': (1rem, 'dimension'),
  'spacing-lg': (1.5rem, 'dimension'),
  'spacing-xl': (2rem, 'dimension'),
  'elevation-none': (none, 'shadow'),
  'elevation-sm': ((0 1px 2px 0 rgba(0, 0, 0, 0.05)), 'shadow'),
  'elevation-md': ((0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)), 'shadow'),
  'elevation-lg': ((0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)), 'shadow'),
  'elevation-xl': ((0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)), 'shadow'),
  'animation-duration-fast': (150ms, 'duration'),
  'animation-duration-normal': (300ms, 'duration'),
  'animation-duration-slow': (500ms, 'duration'),
  'animation-easing-default': ((cubic-bezier(0.4, 0, 0.2, 1)), 'cubicBezier'),
  'animation-easing-emphasized': ((cubic-bezier(0.05, 0.7, 0.1, 1)), 'cubicBezier'),
  'opacity-disabled': (0.5, 'number'),
  'opacity-hover': (0.8, 'number'),
  'opacity-pressed': (0.6, 'number'),
  'bg-base': (#1e1e2e, 'color'),
  'bg-surface': (#181825, 'color'),
  'bg-overlay': (#11111b, 'color'),
  'text-primary': (#cdd6f4, 'color'),
  'text-secondary': (#a6adc8, 'color'),
  'text-inverse': (#1e1e2e, 'color'),
  'brand-primary': (#89b4fa, 'color'),
  'state-info': (#89dceb, 'color'),
  'state-success': (#a6e3a1, 'color'),
  'state-warning': (#f9e2af, 'color'),
  'state-danger': (#f38ba8, 'color'),
  'border-default': (#6c7086, 'color'),
  'accent-link': (#89b4fa, 'color'),
  'font-sans': ((Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji"), 'fontFamily'),
  'font-mono': (('JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace), 'fontFamily'),
  'heading-h1': (#a6e3a1, 'color'),
  'heading-h2': (#89b4fa, 'color'),
  'heading-h3': (#74c7ec, 'color'),
  'heading-h4': (#f9e2af, 'color'),
  'heading-h5': (#cba6f7, 'color'),
  'heading-h6': (#f38ba8, 'color'),
  'body-primary': (#cdd6f4, 'color'),
  'body-secondary': (#a6adc8, 'color'),
  'link-default': (#89b4fa, 'color'),
  'selection-fg': (#cdd6f4, 'color'),
  'selection-bg': (#7f849c, 'color'),
  'blockquote-border': (#7f849c, 'color'),
  'blockquote-fg': (#cdd6f4, 'color'),
  'blockquote-bg': (#181825, 'color'),
  'code-inline-fg': (#cdd6f4, 'color'),
  'code-inline-bg': (#313244, 'color'),
  'code-block-fg': (#cdd6f4, 'color'),
  'code-block-bg': (#313244, 'color'),
  'table-border': (#7f849c, 'color'),
  'table-stripe': (#313244, 'color'),
  'table-thead-bg': (#45475a, 'color'),
);